{{>partials/header}}

<h1>idade</h1>
<form method="post">
    <input type="number" name="ano" placeholder="Qual o ano ?"/> <br/>
    <input type="submit" value="Enviar"/>
</form>


{{#mostrarIdade}}
    
    {{idade}}
{{/mostrarIdade}}



{{>partials/footer}}